.background {
  background-color: black;
}

.background h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.background p {
  background-color: black;
  color: aliceblue;
}
